{% if user.is_authenticated %}
    <ul class="nav--actions">
        <li class="logged-user">
            Witaj {{ user.username }}
            <ul class="dropdown">
                <li><a href="{% url 'profile' %}">Profil</a></li>
                <li><a href="#">Ustawienia</a></li>
                {% if user.is_superuser %}
                    <li><a href="../admin">Panel administracyjny</a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}">Wyloguj</a></li>
            </ul>
        </li>
    </ul>
{% else %}
    <ul class="nav--actions">
        <li><a href="{% url 'login' %}" class="btn btn--small btn--without-border">Zaloguj</a></li>
        <li><a href="{% url 'register' %}" class="btn btn--small btn--highlighted">Załóż konto</a></li>
    </ul>
{% endif %}